<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="barraLogo">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo ML" height="60px" width="180px">
            </div>
            <button id="barra">
                <span>Buscar productos, marcas   </span>
            </button>
            <button>
                <i class="lupa fas fa-search"></i>
            </button>
        
            <div class="compra">
                <i class="fas fa-hand-holding-usd"></i>
                <span>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </nav>
        <nav class="lista">
            <ul class="lista1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="lista2">
                <li><a href="/register">Creá tu cuenta  <i class="far fa-address-card"></i> </a></li>
                <li><a href="/login">Ingresá  <span><i class="fas fa-sign-in-alt"></i></span></a></li>
                <li><a href="">Mis compras  <span><i class="fas fa-shopping-basket"></i></span></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <button>
                <i class="fas fa-bars"></i>
            </button>
        </div>
            
    </header>
   
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner" height="100%" width="100%">
        </div>

    <main>
        <section class="productos">
            <h2 class="titulares">Basado en tu ultima visita</h2>
                <div class="articulos">
                    <article class="producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%" height="100%">
                        <div class="detalle">
                            <i class="camion fas fa-truck"></i>
                            <div class="precioydesc">
                                <p class="precios">$6.770</p>
                                <p class="desc">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="100%" height="100%">      
                        <div class="detalle">
                            <i class="camion fas fa-truck"></i>
                            <div class="precioydesc">
                                <p class="precios">$230.000</p> 
                                <p class="desc">20% off</p>
                            </div>
                            <p class="descripcion">Macbook Pro 2019</p> 
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy10" width="100%" height="100%">
                        <div class="detalle">
                            <i class="camion fas fa-truck"></i>
                            <div class="precioydesc">
                                <p class="precios">$70.500</p>
                                <p class="desc">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy S10</p> 
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" width="100%" height="100%">
                        <div class="detalle">
                            <i class="camion fas fa-truck"></i>
                            <div class="precioydesc">
                                <p class="precios">$23.200</p>
                                <p class="desc">5 % off</p>
                            </div>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>
                    </article>
                </div>
        </section> 

        <section class="productos">
            <h2 class="titulares">Ofertas</h2>
            <div class="articulos">
                <article class="producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%" height="100%">
                    <div class="detalle">
                        <i class="camion fas fa-truck"></i>
                        <div class="precioydesc">
                            <p class="precios">$6.770</p>
                            <p class="desc">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="100%" height="100%">
                    <div class="detalle">
                        <i class="camion fas fa-truck"></i>
                        <div class="precioydesc">
                            <p class="precios">$230.000</p> 
                            <p class="desc">20% off</p>
                        </div>
                        <p class="descripcion">Macbook Pro 2019</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy10" width="100%" height="100%">
                    <div class="detalle">
                        <i class="camion fas fa-truck"></i>
                        <div class="precioydesc">
                            <p class="precios">$70.500</p>
                            <p class="desc">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" width="100%" height="100%">
                    <div class="detalle">
                        <i class="camion fas fa-truck"></i>
                        <div class="precioydesc">
                            <p class="precios">$23.200</p>
                            <p class="desc">5 % off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="flex-footer">
            <section class="footer">
                <div class="icono">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="footer">
                <div class="icono">
                    <i class="fas fa-gift"></i>
                </div>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p> 
            </section>
            <section class="footer">
                <div class="icono">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p> 
            </section>
            <br>
            <br>
        </div>
        <br>
        <div id="copyright">
            <p>© 1999-2020 MercadoLiebre S.R.L</p> 
        </div> 
    </footer>
</body>
</html> 
