html{
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p {
    font-size: 1.2rem;
}

header{
    background-color: #EAC926;
    position: sticky;
    top: 0;
    z-index: 1;
}

div.barraLogo{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.barraLogo p{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 1.2rem;
    margin-left: 20px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.lista {
    display: none;
    text-decoration: none;
}

.lista1, .lista2 {
    text-decoration: none;
    list-style: none;
} 

li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding: 0 5px;
    margin-bottom: 15px;
}

.banner {
    font-size: 100%;
    margin: 0%;
    padding: 0%;
}

.burger-menu {
    text-align: center;
    font-size:large;
    display: block;
 }

 div button {
     margin: auto;
     color: white;
     background-color: #03264C;
     border-radius: 5px;
     border: #03264C;
     padding: 10px;
     display: block;
 }

 main{
    width: 90%;
    margin: 0 auto;
}

.producto{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.titulares {
    font-size: 2.4rem;
    color: grey;
    padding: 5% 5% 0% 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.precios {
    font-size: 1.8rem;
    padding: 0%;
    margin: 0%;
    width: 30%;
}

.desc {
    font-size: 1.6rem;
    color: green;
    padding: 0%;
    width: 70%;
}

.descripcion {
    font-size: 1.6rem;
    color: grey;
    font-style: bold;
    margin-bottom: 0%;
    display: none;
}

.productos {
    background-color: #ebebeb;
    width: 90%;
    margin: auto;
}

.detalle {
    background-color: white;
    padding: 0%;
    border-top: solid 1px #ebebeb;
    padding: 10px;
    position: relative;
}

.precioydesc {
    display: flex;
}

.camion {
    color: green;
    font-size: 1.2rem;
    border-radius: 50%;
    border: solid 1px green;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 450ms;
}

.camion:hover{
    transform: rotate(-90deg); 
}

.boton:hover {
    background-color: #0022AA;
 }

 .producto {
    margin-bottom: 15px;
}

.producto .descripcion {
    opacity: 0%;
}


 footer {
     background-color: white;
     text-align: center;
     padding: 10%;
 }

.icono {
    font-size: 2em;
    color:#03264C;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 0%;
}

p {
    margin-top: 0%;
}


#copyright {
    text-align: left;
}


/*Login.html*/
.login {
    width: 80%;
    margin: auto;
}
.login {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
}

.campo {
   border: solid 1px #ebebeb;
   border-radius: 5%;
   display: block;
   width: 100%;
   margin: 8px 0;
   height: 25px;
}

.boton-enviar {
    width: 100%;
    background-color: #0022AA;
    color: #FFF;
}

/*Register.html*/
.form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.campo {
    border: solid 1px #ebebeb;
    border-radius: 4px;
    margin: 8px 0;
    height: 25px;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil input {
    margin: 0 5px;
}

.intereses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.check {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.check input {
    margin-right: 5px;;
}

.botones {
    display: flex;
    justify-content: space-around;
    gap: 4%;
}

.boton {
    width: 100%;
}

@media (min-width: 361px){
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    div button {
        display: none;
    }
    .barraLogo, .lista, .lista1, .lista2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;        
    }
    header div.barraLogo p{
        display: flex;
        max-width: 350px;
        text-align: right;
    }

    li a {
        display: block;
    }
    main section div.articulos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.articulos article{
        width: 45%;
    }
    .precios,
    .desc{
        width: 50%;
    }
    main section div.articulos article:hover .descripcion {
        opacity: 100%;
    }

    .login {
        max-width: 250px;
    }
    .boton-enviar:hover{
        background-color: #03264C;
    }
  
    .form {
        max-width: 250px;
    }

    .flex-footer {
        display: flex;
        cursor: pointer;
    }
    .icono:hover{
        color: #666;
    }
    
}

@media (min-width: 769px){
    main section div.articulos article{
        width: 22%;
    }
    
}